.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/



svm_test_predictions.csv
svm_sentiment_classifier.pkl
text_embeddings.npy
svm_model_metrics.csv
movie_reviews_with_sentiment.csv
svm_confusion_matrix.png